.btn-google {
    background-color: #db4437;
    color: white;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
}

.btn-google:hover,
.btn-facebook:hover {
    opacity: 0.8;
}

.btngoogle {
    color: rgb(255, 255, 255);
    background-color: #db4437;
    border: 1px #db4437;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}

.btnfb {
    color: rgb(255, 255, 255);
    background-color: #205bda;
    border: 1px #205bda;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}